@media (max-width: 600px) {
    .profile-img {
      display: none;
    }
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #4517d0;
  text-decoration: none;
}

body,
td,
th,
tr,
p {
  font-family: 'EB Garamond', Times, 'Times New Roman', serif;
  font-size: 16px;
}

strong {
  font-size: 14px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
}

.project-title {
  font-size: 20px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-size: 32px;
}